*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*ativo no dark mode */
:root {
  --bg-url: url(../img/LinkTree-Dark.png);
}

body {
  background: var(--bg-url) no-repeat top center / cover;
}
